:root {
  --cor0: #fcf9f2;
  --cor1: #563a22;
  --cor2: #f1d7b4;
  --cor3: #9b7c64;
  --cor4: #f18836;
}

/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #323232;
  border: none;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cor2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
  padding: 15px 0;
}

header div {
  position: relative;
  width: 1300px;
  height: 100px;
  margin: 0 auto;
}

#logo {
  width: 180px;
  height: 88px;
  position: absolute;
  top: 10px;
  right: 1050px;
}

#menu {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.7));
  height: 100px;
}

nav {
  position: absolute;
  top: 80px;
  right: 265px;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}

nav a:hover {
  color: var(--cor3);
}

#banner {
  width: 100%;
}

footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
  text-align: center;
  padding: 40px 0;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

#copyright {
  color: white;
  font-size: 13px;
}

input,
label {
  display: block;
  width: 100%;
}

input:focus,
label:focus {
  outline: none;
}

/* FORM */
#main-container {
  width: 500px;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 2.5%;
}

label {
  font-weight: 600;
  font-size: 0.8rem;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

input:focus {
  border-color: var(--cor4);
}

input[type="submit"] {
  background-color: var(--cor1);
  color: white;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 0px;
}

#agreement {
  margin-right: 5px;
}

#agreement,
#agreement-label {
  display: inline-block;
  width: auto;
}

/* VALIDAÇÕES */
.error-validation {
  color: #ff1a1a;
  position: absolute;
  top: 57px;
  font-size: 0.8rem;
}

.template {
  display: none;
}

#produtos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1500px;
  justify-content: center;
  width: 80%;
  height: 45%;
}

.produto {
  width: 300px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
}

.produto img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.produto div {
  padding: 10px;
}

.produto div hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

.produto div button {
  width: 100%;
  background-color: transparent;
  border: 1px #563a22 solid;
  padding: 6px;
  border-radius: 5px;
  font-size: 13pt;
  cursor: pointer;
}

/* LOGIN */

main {
  --color-primary: #79583b;
  --color-primary-dark: #563a22;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 10px;

  margin: 0;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: url(./background.jpg);
  background-size: cover;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
}

.container,
.form__input,
.form__button {
  font: 500 1.1rem "Quicksand", sans-serif;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 0rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}
