:root{
    --cor0: #662714;
    --cor1: #804F40;
    --cor2: #B34524;
    --cor3: #B36E59;
    --cor4: #FF6333;

}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    /* background: linear-gradient(var(--cor1), var(--cor0)); */
    background: url(../images/leather-1920.jpg);
    box-shadow: inset 0px -7px 21px 0px rgba(0,0,0,0.85);
    padding: 15px 0;
}

header div{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

#logo{
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.7));    
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
}

nav a:hover{
    color: var(--cor4);
    text-decoration: underline;
}

#banner{
    width: 100%;
}

footer{
    text-align: center;
    background: url(../images/bg.jpg);
    padding: 40px 0;
}

#copyright{
    color: white;
    font-size: 13px;
}
